<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 pt-4 mt-3 border-top">
        <div class="col col-sm-12 col-md-12 mb-3">
            <ul class="nav mb-3 list-unstyled d-flex">
                <li><a class="text-body-secondary" href="https://github.com/tombursch"><i class="fa-brands fa-github"></i></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="https://hub.docker.com/u/tombursch"><i class="fa-brands fa-docker"></i></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="mailto:info@kitchenowl.org"><i class="fa-solid fa-paper-plane"></i></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="https://matrix.to/#/#kitchenowl:matrix.org"><i class="fa-solid fa-comment"></i></a></li>
            </ul>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2023 KitchenOwl</span>
        </div>

        <div class="col mb-3">

        </div>

        <div class="col mb-3">
            <h5>Get Started</h5>
            <ul class="nav flex-column">
                {{/*  <li class="nav-item mb-2"><a href="https://docs.kitchenowl.org/#features" class="nav-link p-0 text-body-secondary">FAQs</a></li>  */}}
                <li class="nav-item mb-2"><a href="https://docs.kitchenowl.org/getting-started" class="nav-link p-0 text-body-secondary">Self-host guide</a></li>
                <li class="nav-item mb-2"><a href="https://hosted.weblate.org/engage/kitchenowl/" class="nav-link p-0 text-body-secondary">Translation</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>About</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="https://docs.kitchenowl.org/#features" class="nav-link p-0 text-body-secondary">Features</a></li>
                <li class="nav-item mb-2"><a href="https://github.com/tombursch/kitchenowl" class="nav-link p-0 text-body-secondary">Source Code</a></li>
                
            </ul>
        </div>

        <div class="col mb-3">
            <h5>Legal</h5>
            <ul class="nav flex-column">
                {{/*  <li class="nav-item mb-2"><a href="/terms" class="nav-link p-0 text-body-secondary">Terms & Conditions</a></li>  */}}
                <li class="nav-item mb-2"><a href="/privacy" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
                <li class="nav-item mb-2"><a href="/license" class="nav-link p-0 text-body-secondary">License</a></li>
                <li class="nav-item mb-2"><a href="/imprint" class="nav-link p-0 text-body-secondary">Imprint</a></li>
            </ul>
        </div>
    </div>
</div>