<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">
  <div class="col d-flex align-items-start" data-aos="fade-left" data-aos-delay="0">
    <div class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
      <i class="fa-solid fa-people-group fa-fw fa-2x"></i>
    </div>
    <div>
      <h3 class="fw-bold mb-0 fs-4">Together</h3>
      <p>Households allow you to work on recipes, expenses, shopping lists, and meal plans together as a family or with other users.</p>
    </div>
  </div>
  <div class="col d-flex align-items-start" data-aos="fade-left" data-aos-delay="50">
    <div class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
      <i class="fa-solid fa-receipt fa-fw fa-2x"></i>
    </div>
    <div>
      <h3 class="fw-bold mb-0 fs-4">Recipes</h3>
      <p>Store recipe from the web or created by you, so you can fill your shopping list faster.</p>
    </div>
  </div>
  <div class="col d-flex align-items-start" data-aos="fade-left" data-aos-delay="100">
    <div class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
      <i class="fa-solid fa-chess fa-fw fa-2x"></i>
    </div>
    <div>
      <h3 class="fw-bold mb-0 fs-4">Smart</h3>
      <p>KitchenOwl adapts to you! It learns the order you usually tick off items and suggests recipes you like.</p>
    </div>
  </div>
  <div class="col d-flex align-items-start" data-aos="fade-left" data-aos-delay="150">
    <div class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
      <i class="fa-solid fa-list-check fa-fw fa-2x"></i>
    </div>
    <div>
      <h3 class="fw-bold mb-0 fs-4">Shopping lists</h3>
      <p>With icons, amount, and categories every trip to the store will be fun.</p>
    </div>
  </div>
  <div class="col d-flex align-items-start" data-aos="fade-left" data-aos-delay="200">
    <div class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
      <i class="fa-solid fa-calendar-day fa-fw fa-2x"></i>
    </div>
    <div>
      <h3 class="fw-bold mb-0 fs-4">Meal Plan</h3>
      <p>Want to plan ahead? No problem, always know what recipes are planned for the week.</p>
    </div>
  </div>
  <div class="col d-flex align-items-start" data-aos="fade-left" data-aos-delay="250">
    <div class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
      <i class="fa-solid fa-chart-pie fa-fw fa-2x"></i>
    </div>
    <div>
      <h3 class="fw-bold mb-0 fs-4">Balances</h3>
      <p>After your shopping trip simply enter the expense and divide it between all members accordingly.</p>
    </div>
  </div>
</div>